* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  font-family: Ebrima, Arial, sans-serif;
  color: #2D2D2D;
}

aside {
  width: 40%;
  padding-left: 130px;
  padding-top: 45px;
  background-color: #FFB300;
}

aside img {
  border-radius: 100px;
  margin-bottom: 20px;
  margin-left: 25px;
}

aside h2 {
  margin-left: -130px;
  text-align: center;
  color: #FFB300;
  background: #2D2D2D;
  font-weight: 500;
  margin-bottom: 20px;
}

aside section {
  margin-bottom: 20px;
  width: 65%;
  text-align: justify;
}

.contact-details {
  margin-bottom: 15px;
}

.contact-details a {
  margin-right: 5px;
  text-decoration: none;
  color: #2D2D2D;
}

a:hover {
  color: #FFB300;
  text-shadow: 1px 1px 3px #2D2D2D;
}

a:active{
  text-decoration: overline;
  text-shadow: 3px 3px 8px #2D2D2D;
}

aside section:nth-last-of-type(1) span {
  margin-left: 20px;
}

main {
  margin-top: 80px;
  margin-left: 50px;
  width: 60%;
}

main h1 {
  font-size: 3em;
  font-weight: lighter;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 15px;
}

main strong {
  color: #FFB300;
  font-weight: bold;
}

main h2 {
  font-weight: normal;
  font-size: 1.2em;
  margin-bottom: 20px;
}

main div {
  border-bottom: solid 2px #FFB300;
  width: 80%;
}
